.job-list {
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #2c3e50;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #2980b9;
  }
  
  p {
    color: #7f8c8d;
  }
  