/* General Dashboard Container */
.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh;
  box-sizing: border-box;
  background-color: #99bcd7;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #74a7d6;
  padding: 35px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  justify-content: flex-start;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
  background-color: #6f98be;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-title {
  flex: 1;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
}

/* Logout Button */
.logout-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
}

.logout-btn:hover {
  background-color: #cc0000;
  transform: scale(1.1);
}

/* Search Bar */
.search-bar {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 25px;
  border-radius: 30px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  padding: 15px;
  width: 100%;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 25px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.search-bar input:focus {
  outline: none;
  border-color: #007bff;
}

/* Message */
.message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
}

.message-success {
  background-color: #d4edda;
  color: #155724;
}

.message-error {
  background-color: #f8d7da;
  color: #721c24;
}

/* Job Details Section */
.user-dashboard {
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 20px;
}

.job-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.job-card h3 {
  margin: 0;
  font-size: 1.5em;
  color: rgb(83, 123, 197);
}

.job-card p {
  margin: 5px 0;
  font-size: 1em;
  color: #555;
  text-align: left;
}

/* Apply Now Button */
.job-card .apply-btn {
  align-self: flex-start;
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.job-card .apply-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

/* No Jobs Message */
.no-jobs-message {
  color: black;
  font-size: 1.1em;
  text-align: center;
  margin-top: 20px;
}
